/* General Reset */
body,
h1,
h2,
h3,
p,
ul,
li,
a,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Footer Styles */
footer {
  text-align: center;
  height: auto;
  align-content: center;
  background: #333;
  color: #fff; 
}

footer a {
  color: #007bff;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}
